:root {

    /*  System Colors */
    --color-gray-000: #fff;
    --color-gray-100: #F3F3F3;
    --color-gray-200: #ebe5e5;
    --color-gray-300: #BEBEBE;
    --color-gray-400: #A5A1A1;
    --color-gray-500: #6A6969;
    --color-gray-700: #303030;
    --color-gray-900: #070707;
  
    --color-green-100: #96FFA0;
    --color-green-200: #25E18C;
    --color-green-300: #62EE6F;
    --color-green-500: #2DA739;
    --color-green-700: #0E8F55;
    --color-green-800: #295F2B;
  
    --color-yellow-800: #F2B705;
    --color-yellow-500: #F2CE1B;
    --color-yellow-300: #F2BE5C;
    --color-yellow-200: #F2C288;
    --color-yellow-100: #F2E0C9;
  
    --color-red-100: #FFA0A0;
    --color-red-300: #EE6F6F;
    --color-red-800: #5F2B2B;
  
    --color-blue-100: #A0A0FF;
    --color-blue-300: #6F6FEE;
    --color-blue-500: #4141c2;
    --color-blue-800: #2B2B5F;
  
    --color-blue-300-transparent: #6f6feeac;
  
  
    --color-purple-100: #FFA0FF;
    --color-purple-300: #EE6FEE;
    --color-purple-800: #5F2B5F;
  
  
    --color-link: #204DA4;
    --color-link-hover: #2A75BC;
  
    --color-text: #333;
    --color-text-light: #666;
    --color-text-dark: #000;  
    --color-text-white: #F3F3F3;
    --color-text-default: #D9D9D9;
  
  
  
    /* Client Colors */
  
    --color-green-c-50: #c1ffc5;
    --color-green-c-100: #96FFA0;
    --color-green-c-300: #62EE6F;
    --color-green-c-400: #51ee60;
    --color-green-c-800: #295F2B;
  
  
    /* Enterprise Colors */
   
    --color-yellow-e-800: #F2B705;
    --color-yellow-e-500: #F2CE1B;
    --color-yellow-e-400: #e9cc38;
    --color-yellow-e-300: #F2BE5C;
    --color-yellow-e-200: #F2C288;
    --color-yellow-e-100: #F2E0C9;
  
    /* System Colors */
  
    --color-blue-s-50: #b5b5f6;
    --color-blue-s-100: #A0A0FF;
    --color-blue-s-300: #6F6FEE;
    --color-blue-s-500: #4141c2;
    --color-blue-s-800: #2B2B5F;
  
    /* System Status Colors  */
  
    --color-status-success: #2DA739;
    --color-status-warning: #e7bf58;
    --color-status-error: #B51521;
    --color-status-info: #2A75BC;
  
  }
  